{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1>User "{{ user.username }}", Please Change Your Password</h1>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        
        {% if form.errors %}
            <p>There are errors in the form!</p>
        {% endif %}

        {% for field in form %}
            <p>{{ field.label }}: {{ field }}</p>
        {% endfor %}

        <p><input type="submit" value="Change Password"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}
