{% extends 'base.html' %}

{% block title %}
    Agency Profile
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Agency Details:</h2>
        {{ name }}
    {% else %}
        <h2>
            You are not logged in. Please log in to be able to create an agency
            You will be redirected to the index page in 5 seconds.
        </h2>
        <script>
            function redirect(){window.location.href = "/";}
            setTimeout(redirect, 5000);
        </script>
    {% endif %}
{% endblock content %}
